@extends('layouts.app')

@section('content')

.container
  .user_header
    .row
      .col-3
        img(src='user.png' class="user_image")
      .col-9
        .title USER NAME 
        .sub-title x Recipes
  .user_recipes
    .user_recipe
      .row
        .col-3
          img(src='userchili.jpg' class="user_chili_image")
        .col-6
          .title NAME OF THE CHILI
          p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 

        .col-3
          .rating 9.77/10
          .user_recipe_buttons
            button(type="button" class="btn btn-link") Edit
            button(type="button" class="btn btn-link") Delete
        
      
      
@endsection
