

.title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.sub-title {
  font-size: 18px;
  font-weight: 600;
}

.primary_button {
  background-color: $primary;
  font-weight: 600;
  color: white;

  &:hover{
    color: white;
  }
}

.navbar {
  background-color: black !important;
}

pre {
  white-space: pre-wrap !important;
  overflow-wrap: break-word;
  // text-align: left;
}
