

.title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.sub-title {
  font-size: 18px;
  font-weight: 600;
}

.primary_button {
  background-color: $primary;
  font-weight: 600;
  color: white;
  border-radius: 10px;

  &:hover{
    color: white;
  }
}

.navbar {
  background-color: black !important;
  height: $navbar-height;
  max-height: $navbar-height;
}

pre {
  white-space: pre-wrap !important;
  overflow-wrap: break-word;
  // text-align: left;
}

//why is this not accepting the navbar-height variable??
.is-full-height {
  height: calc(100vh - 80px);
}
