
.upper_recipe_show {
  margin-top: 25px;
  font-size: 18px;

  .chili_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .title {
    color: $primary !important;
  }

  .sub-title {
    color: $primary;
  }

  .recipe_information {
    padding-top: 25px;
    font-weight: 600;
  }

  .recipe_description {
    padding-top: 50px;
    padding-bottom: 50px;
  }

}


.lower_recipe_show {
  font-size: 18px;
  .title {
    color: $primary;
  }
}


.my_chili_rating {
  font-weight: 600;
  font-size: 24px;
}




//INDEX
.index {
  .big_title {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: black;
  }

  .title_bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-bottom: 5px solid $primary;
    padding-top: 5px;
}
}
